pdf2image==1.17.0
chromadb==0.4.24 
pypdf==5.2.0
tiktoken==0.8.0
langchain==0.3.7
pydantic==2.10.1
pandas==1.5
huggingface-hub==0.29.2
torch==2.4.1
sentence-transformers==3.4.1
InstructorEmbedding==1.0.0
p4python==2023.1.2454917
lxml==4.9.2
bs4==0.0.1
transformers==4.30.2